.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:80px 50px 200px 140px 1fr;
    grid-template-areas:
    "a a a a a a "
    "b b b b b b "
    "c c c c c c"
    "d d d d d d"
    "e e e e e e"
    "f f f f f f"
    ;
}
.container>div{
    border: 1px solid red;

}
.item1{
    grid-area: a;
}
.item2{
    grid-area: b;
}
.item3{
    grid-area: c;
    background-color:whitesmoke ;
    
}
.item4{
    grid-area: d;
}
.item5{
    grid-area: e;
}
.item6{
    grid-area: f; 
    display: grid;
    width: 70%;
    margin: auto;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8,1fr);
    justify-content: space-between;
    border: 1px solid yellow;
}
.item6>div{
 border: 1px solid gainsboro;
}
.item6>div:nth-child(1){

}
.proText{
    height: 30px;
    width: 100%;
    border: 1px solid yellow;
}
#titletxt{
    display: flex;
}
.boxcheck{
    height: 100%;
    width: 70%;
    margin: auto;
   
    border: 1px solid yellow;
}
.boxcheck>div>button{
  height: 35px;
  width: 118px;
  background-color:whitesmoke;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}