.contaner{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 100px 50px 250px 200px 1200px 50px 300px;
    grid-template-areas: 
    "a a a a a a a a a a a a "
    "b b b b b b b b b b b b"
    "c c c c c c c c c c c c "
    "d d d d d d d d d d d d"
    "e e e e e e e e e e e e"
    "f f f f f f f f f f f f"
    "g g g g g g g g g g g g";
}
.contaner>div{
    border: 1px solid red;
}
.header{
    grid-area: a;
}
.navbar{
    grid-area: b;
}

.pgeserch{
    grid-area: d;
   
}
.pgeserch>div:nth-child(1){
    height: 40%;
    width: 75%;
    margin: auto;
    margin-top:70px;
    
    border: 1px solid blue;
}
.pgeserch>div:nth-child(2){
    height: 20%;
    width: 75%;
    margin: auto;
    border: 1px solid blue;

}
.location-search{
    display: flex;
    justify-content: space-between;
}
.location-search>div>button{
    width:120px;
    height: 35px;
   font-family: Roboto, Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #555555;
   margin-left: 10px;
   border: 0.5px solid gainsboro;
   border-radius: 5px;
   
}
.location-search>div>input{
    width: 200px;
    height: 35px;
    font-size: 14px;
}
.location-search>div>select{

width: 200px;
    height: 35px;
    font-size: 14px;
}
.location-search>div>option{
    font-size: 16px;
    font-family:Roboto, Arial;
    height: 35px;
    color: #666666
;
}
/* ==========seach box start==================== */
.searchloc{
    grid-area: c;
    display: flex;
    background-color: whitesmoke;
    justify-content: space-evenly;
}
.searchloc>div>span:nth-child(1){
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 26px;
    color:#444444 ;
}
.searchloc>div>span:nth-child(2){
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #888888;
}
.searchloc>div>p{
    font-family:Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#000000;

}
.searchloc>div:nth-child(1){
    height: 80%;
    width: 50%;
    border: 1px solid red;
    margin-left:100px;
}
#social{
    height: 100%;
    width: 30%;
    border: 1px solid red;
}
.socallink{
    height: 20%;
    width: 100%;
    border: 1px solid red;
}
.socallink>button{
    background-color:blue;
    color: white;
    margin-left: 20%;
    
}
.sharebox{
    height: 60%;
    width: 60%;
    margin: auto;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 10px;
}
.sharebox>p:nth-child(1){
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #444444;
    text-align: center;
    line-height: 24px;
}
.sharebox>p:nth-child(2){
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin-top: -12px;
}
.sharebox>button{
    background-color:red;
    width: 70%;
    height:25%;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-left: 15%;
}
/* =========================.productpge start========= */
.productpge{
    grid-area: e;
    display: grid;
    width: 72%;
    margin: auto;
    margin-top: 0px;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 30px;
    grid-template-areas:
    "a a a a a a a a a a a a";
}
.iteam7{
    grid-area: a;
}
.upper{
    display: flex;
}
.item1>img{
    height: 60px;
    width: 70px;
    border-radius: 50px;
}
.productpge>div{
    border: 1px solid yellow;
}
.pgeserch2{
    grid-area: f;
}
.footer{
    grid-area: g;
}